<header>
    <nav>
        <a href ="/">Libreria</a>
        <ul>
            <li><a href="/autores">Autores</a></li><%# No lo agarra pero si el de abajo...¿Porque? ERA LA </a> AJAJAJAJA %>
            <li><a href="/autores/new">Agrega autor</a></li>
        </ul>
    </nav>
</header>