<h2>Nuevo Autor</h2>

<form action="/autores" method="POST">
    <%- include('_form_field') %>
    <a href="/autores">Cancelar</a><%#No usamos botones porque quiero linkear no necesariamente el boton#%>
    <button type="submit">Crear</button> 
</form>